* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

header,
footer,
nav,
aside {
  padding: 1em;
}

/* Navbar */
header {
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

/* Favorite Locations */
.martin-info {
  margin-top: 50px;
}

#locations-heading {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
}

/* Mayan Fish */
.mayan-fish {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Fish Tips */
.fish-tips-heading {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

.tipList {
  background: beige;
  flex-basis: 40vw;
}

.fishList {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
}

/* Footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: lightgrey;
  height: 10vh;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 1.25em;
}

.footer-container p:nth-of-type(1) {
  border-right: 1px solid white;
  padding-right: 0.75em;
}

.footer-container p:nth-of-type(2) {
  margin-left: 10px;
}
