* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
}

.tipList {
  background: beige;
  flex-basis: 40vw;
}

header {
  background: lightgrey;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: lightgrey;
  height: 10vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fish-tips-heading {
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

#locations-heading {
  text-align: center;
  text-decoration: underline;
}

.fishList {
  margin-top: 50px;
}

.martin-info {
  margin-top: 50px;
}
